/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --wdht: 100;
  --wght: 400;
  --wght-header: 400;
  --wght-card-title: 700;
  --main-font: "Inter-Variable", Arial, sans-serif;
  --accent-font: "PressStart2P-Regular", Arial, sans-serif;
  --main-color: #000000;
  --main-font-size: 18px;
  --background-color: #ffffff;
  --button-color: #ffffff;
  --button-font-size: 14px;
  --label-font-color: rgba(0, 0, 0, 0.6);
  --label-stroke-color: rgba(255, 255, 255, 0.6);
  --label-font-size: 14px;
  --accent-color: ;
  --hover-color: rgba(0, 0, 0, 0.6);
  --contour-color: #000000;
  --sparks-color: rgba(255, 0, 0, 0);
  --heart-color: rgb(255, 0, 0);
  --background-image: repeating-linear-gradient(
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
}
